.login {
    width: 50vw;
    padding-left: 40px;
    margin: 0 10%;
    /* margin-left: 4.5rem; */
    margin-top: .1rem;
    margin-left: 12.5rem;
}

.holder {
    width: 70%;
    margin: 0 auto;
}

.MuiInputBase-formControl {
    background-color: white;
    border-radius: 20px !important;
}

@media screen and (max-width: 1400px) {
    .login {
        padding-left: 8px;
    }
}

@media screen and (max-width: 1200px) {
    .login {
        padding-left: 10px;
    }
}

@media screen and (max-width: 884px) {
    .login {
        padding-left: 10px;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 786px) {
    .login {
        margin: 0 5%;
        padding-left: 40px;
        margin-left: 7rem;
    }
}

@media screen and (max-width: 560px) {
    .login {
        margin: 0;
        padding-left: 30px;
        margin-left: 4.7rem;

    }
}

@media screen and (max-width: 478px) {
    .login {
        margin-top: 0;
        padding-left: 16px;
        margin-left: 0;
        width: 80vw
    }
}


